@charset "utf-8";
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1em;
    background-color: Azure;
    margin-left: 2em;
}
h1 {
    font-size: 2.5em;
    color: ;
  }
h2 {
    font-size: 2em;
    color: crimson;
}
h3 {
    font-size: 1.5em;
    color: brown;
}
P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 48em
}

footer { font-size: smaller;}
footer p { padding: 1em; }

#myimage{
    margin-left: 3em;
}